<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | Therapist</title>
  <link rel="icon" href="/static/images/logo.png" type="image/png">
  <link rel="stylesheet" href="/static/styles/about.css">
</head>

<body>
  {% include 'header.html' %}
  <main>
    <section class="about-section">
      <div class="about-me">
        <h1>About me</h1>
        <p>
          I am Anthony, a neurotherapist and hypnotherapist specializing in emotional detachment, negative emotion
          management, and healing from trauma and emotional wounds. For over 21 years, I have helped my clients on
          their journey to emotional freedom and inner healing.
        </p>
      </div>

      <div class="my-approach">
        <h2>My approach</h2>
        <p>
          <strong>- Emotional Detachment:</strong> I guide you through a process that helps you distance yourself from
          negative emotions and difficult past
          experiences. My goal is to help you let go of these burdens, allowing you to fully live in the present.
        </p>
        <p>
          <strong>- Emotion Management:</strong> Understanding and managing your emotions is essential for finding
          clarity and peace of mind. Together, we work on practical techniques to transform your negative emotions into
          sources of growth and resilience.
        </p>
        <p>
          <strong>- Healing from Trauma:</strong> Deep emotional wounds and trauma can have a powerful but invisible
          impact on your daily life. Through personalized sessions, I assist you in healing these wounds, freeing you
          from recurring patterns of suffering.
        </p>
      </div>

      <div class="why-choose-me">
        <h2>Why choose me?</h2>
        <p>
          - A compassionate listener and personalized guidance<br>
          - Therapeutic techniques based on the science of emotions and brain function<br>
          - A safe space to explore your emotions with confidence
        </p>
        <p class="closing">
          "I truly believe in everyone's ability to transform their lives, and I am passionately committed to helping
          you
          overcome your emotional challenges and regain your well-being."
        </p>
      </div>
    </section>
  </main>
  {% include 'footer.html' %}
  <script src="/static/scripts/script.js"></script>
</body>

</html>