<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact | Therapist</title>
  <link rel="icon" href="/static/images/logo.png" type="image/png">
  <link rel="stylesheet" href="/static/styles/contact.css">
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAdHzs9lKK88uQDyGkQrZJgLxwmedzhzg&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
</head>

<body>
  {% include 'header.html' %}
  <main>
    <section class="contact-section">
      <div class="contact-me">
        <h1>Contact me</h1>
        <div class="calendly-inline-widget" data-url="https://calendly.com/8732-holbertonstudents/30min"></div>
      </div>

      <div class="contact-details">
        <h2>Contact details</h2>
        <p><strong>Email:</strong> contact@therapist.com</p>
        <p><strong>Phone:</strong> +33 1 23 45 67 89</p>
        <p><strong>Hours:</strong> Monday - Friday, 9am - 6pm</p>
        <p><strong>Location:</strong> "Le Médicis", 15 Av. des Allobroges, 74200 Thonon-les-Bains</p>
      </div>
    </section>
    <gmp-map center="46.36939338898116, 6.4810351039032374" zoom="18" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="46.36939338898116, 6.4810351039032374" title="Office"></gmp-advanced-marker>
    </gmp-map>
  </main>
  {% include 'footer.html' %}
  <script src="/static/scripts/script.js"></script>
</body>

</html>