<link rel="stylesheet" href="/static/styles/header.css">
<header>
  <div class="container-header">
    <div class="container-header-left">
      <div onclick="location.href='/' ;">
        <img src="/static/images/logo.png" alt="Logo" class="container-header-left-logo">
      </div>
    </div>
    <div class="container-header-center">
      <div class="container-header-center-home" onclick="location.href='/' ;">Home</div>
      <div class="container-header-center-about" onclick="location.href='/about' ;">About</div>
      <div class="container-header-center-contact" onclick="location.href='/contact' ;">Contact</div>
    </div>
    <div class="container-header-right">
      {% if 'username' in session %}
      <div class="container-header-right-login" onclick="location.href='/logout' ;">Logout</div>
      {% else %}
      <div class="container-header-right-login" onclick="location.href='/login' ;">Login</div>
      {% endif %}
    </div>
  </div>
</header>