<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing page | Therapist</title>
  <link rel="icon" href="/static/images/logo.png" type="image/png">
  <link rel="stylesheet" href="/static/styles/index.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="#intro">Home</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="/home" target="_blank">App</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="intro">
      <img src="/static/images/cover.png" alt="Therapist Cover Image" class="cover-image">
      <h1>Web application for therapist</h1>
      <p>A web application for a neurotherapist and hypnotherapist<br>
        specialised in emotional detachment, the management of negative emotions, and the healing of traumas and wounds.
      </p>
      <a href="/home" class="cta-button" target="_blank">Try the App</a>
    </section>

    <section id="features">
      <h2>Features</h2>
      <div class="features">
        <div class="feature">
          <img src="/static/images/calendly.png" alt="Calendly">
          <h3>Calendly Integration</h3>
          <p>Streamline appointment scheduling with Calendly integration, making it easy for clients to book sessions directly through the app, eliminating the hassle of back-and-forth emails.</p>
        </div>
        <div class="feature">
          <img src="/static/images/google-maps.png" alt="Google Maps">
          <h3>Location Tracking with Google Maps</h3>
          <p>Help clients easily locate your practice with an embedded Google Maps feature, providing directions and location details for seamless accessibility.</p>
        </div>
        <div class="feature">
          <img src="/static/images/sqlite.png" alt="SQLite">
          <h3>Secure Data Management with SQLite</h3>
          <p>Ensure data privacy and security with SQLite, allowing efficient storage and management of session notes, client records, and progress tracking within the app.</p>
        </div>
      </div>
    </section>

    <section id="about">
      <h2>About</h2>
      <p>The inspiration for this project came from a therapist friend of mine.<br>
        She is the only one of my friends who is a freelancer, so I thought of her when I was looking for a theme.</p>
      <div class="team">
        <h3>Anthony Cointre</h3>
        <ul>
          <li>
            <a href="https://linkedin.com" target="_blank"><img src="/static/images/linkedin.png" alt="LinkedIn"
                id="linkedin"></a>
          </li>
          <li>
            <a href="https://github.com/AnthonyCointre" target="_blank"><img src="/static/images/github.png"
                alt="GitHub" id="github"></a>
          </li>
          <li>
            <a href="https://twitter.com" target="_blank"><img src="/static/images/twitter-x.png" alt="Twitter X"
                id="twitter-x"></a>
          </li>
        </ul>
        <a href="https://github.com/AnthonyCointre/holbertonschool-portfolio_project.git" target="_blank"
          id="github-repo">Project GitHub Repository</a>
      </div>
    </section>
  </main>

  <script src="/static/scripts/script.js"></script>
</body>

</html>