<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing page | Therapist</title>
  <link rel="icon" href="/static/images/logo.png" type="image/png">
  <link rel="stylesheet" href="/static/styles/index.css">
</head>

<body>
  <!-- Header Section -->
  <header>
    <nav>
      <ul>
        <li><a href="#intro">Home</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="/home" target="_blank">App</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main>
    <!-- Intro Section -->
    <section id="intro">
      <img src="/static/images/cover.png" alt="Therapist Cover Image" class="cover-image">
      <h1>Web application for therapist</h1>
      <p>A web application for a neurotherapist and hypnotherapist<br>
        specialised in emotional detachment, the management of negative emotions, and the healing of traumas and wounds.
      </p>
      <a href="/home" class="cta-button" target="_blank">Try the App</a>
    </section>

    <!-- Feature Section -->
    <section id="features">
      <h2>Features</h2>
      <div class="feature">
        <img src="/static/images/feature1.png" alt="Feature 1 Image">
        <h3>Feature 1</h3>
        <p>Description of the feature.</p>
      </div>
      <div class="feature">
        <img src="/static/images/feature2.png" alt="Feature 2 Image">
        <h3>Feature 2</h3>
        <p>Description of the feature.</p>
      </div>
      <div class="feature">
        <img src="/static/images/feature3.png" alt="Feature 3 Image">
        <h3>Feature 3</h3>
        <p>Description of the feature.</p>
      </div>
    </section>

    <!-- About Section -->
    <section id="about">
      <h2>About</h2>
      <p>The inspiration for this project came from a therapist friend of mine.<br>
        She is the only one who is a freelancer, so I thought of her when I was looking for a theme.</p>
      <div class="team">
        <h3>Anthony Cointre</h3>
        <ul>
          <li><a href="https://linkedin.com" target="_blank">LinkedIn</a></li>
          <li><a href="https://github.com/AnthonyCointre" target="_blank">GitHub</a></li>
          <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
        </ul>
        <p><a href="https://github.com/AnthonyCointre/holbertonschool-portfolio_project.git" target="_blank">Project
            GitHub Repository</a></p>
      </div>
    </section>
  </main>

  <script src="/static/scripts/script.js"></script>
</body>

</html>