html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(255, 230, 204);
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(0, 153, 0);
  padding: 1em;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
}

header nav ul li a:hover {
  background-color: rgb(0, 128, 0);
  border-radius: 5px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

#intro {
  text-align: center;
}

.cover-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.cta-button {
  display: inline-block;
  margin-top: 1em;
  padding: 0.8em 1.5em;
  background-color: #008cba;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #005f75;
}

#features {
  text-align: center;
  margin-top: 2em;
}

.features {
  display: flex;
}

.feature {
  max-width: 400px;
  margin: 1em 0;
}

.features img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.features p {
  text-align: justify;
  padding: 0 20px;
}

#about {
  text-align: center;
  margin-top: 2em;
}

.team ul {
  list-style: none;
  padding: 0;
}

.team ul li {
  display: inline;
  margin: 0 0.5em;
}

#linkedin,
#github,
#twitter-x {
  max-width: 50px;
}

#github-repo {
  display: inline-block;
  margin-top: 1em;
  padding: 0.8em 1.5em;
  background-color: #008cba;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

#github-repo:hover {
  background-color: #005f75;
}